@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$springgreen: #00FA9A;
$shoplifered: #DD2C00;
$mildred: #EF5350;
$deepred: #B71C1C;
$cyan500: #00BCD4;
$lightindigo: #536DFE;
$indigo: #304FFE;
$googlegreen: #00E676;
$lightgreen: #76FF03;
$darkgreen: #00695C;
$pinterestgrey: #F3F3F3;
$silvergrey: #F4F4F4;
$plaingrey: #E7E7E8;
$lightgrey: #C9C9CA;
$black: #404040;

$headerHeight: 55px;

@mixin inline-block-center() {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

@mixin block-center() {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@mixin flex-jc($jc) {
  display: flex;
  justify-content: $jc;
}

@mixin remove-border-style() {
  border: none;
  outline: none;
}

@mixin form-inputs() {
  @include inline-block-center();
  @include remove-border-style();
  box-sizing: border-box;
  margin: 15px 0px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

@mixin btn-preset($v, $h, $fontSize) {
  padding-top: $v;
  padding-bottom: $v;
  padding-left: $h;
  padding-right: $h;
  font-size: $fontSize;
  cursor: pointer;
}

@mixin btn-style($textColor, $bgColor, $borderColor, $borderWidth) {
  color: $textColor;
  background-color: $bgColor;
  border: $borderColor $borderWidth solid;
  text-align: center;
}

@mixin indigo-btn() {
  @include btn-style(white, $indigo, $indigo, 2px);
}

@mixin indigo-btn-alt() {
  @include btn-style($indigo, white, $indigo, 2px);
}

@mixin cyan-btn() {
  @include btn-style(white, $cyan500, $cyan500, 2px);
}

@mixin cyan-btn-alt() {
  @include btn-style($cyan500, white, $cyan500, 2px);
}

@mixin close-btn() {
  @include btn-preset(5px, 10px, 18px);
  border: $mildred 2px solid;
  background-color: white;
  color: $mildred;
  border-radius: 50%;
  cursor: pointer;
  text-align: right;
  float: right;
}

@mixin large-submit-btn() {
  @include btn-preset(10px, 15px, 18px);
  @include remove-border-style();
  @include indigo-btn;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
}

@mixin input-full-field {
  @include form-inputs();
  width: 100%;
  border-bottom: 2px $indigo solid;
}

@mixin input-half-field {
  @include form-inputs();
  width: 50%;
  border-bottom: 2px $indigo solid;
}

@mixin clear-fix {
  content: "";
  display: block;
  clear: both;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

button {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  color: $lightgrey;
  text-decoration: none;
  &:hover {
    color: darken($lightgrey, 40%);
  }
}

input:focus {
  outline: none;
}

header {
  background-color: white;
  height: $headerHeight;
  border-top: 3px solid $shoplifered;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .header-logo-wrapper {
    border-right: 1px lightgrey solid;
    height: $headerHeight;
    display: flex;
    align-items: center;
    width: 140px;
    .header-logo {
      color: $shoplifered;
      font-size: 32px;
      margin-left: 20px;
      font-family: 'Pinyon Script', cursive;
    }
  }

  .header-logo-wrapper:hover, .header-logo-wrapper:hover .header-logo {
    background-color: $shoplifered;
    color: white;
  }

  .search-bar {
    width: 60%;
    height: $headerHeight;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    .search-icon {
      width: 20px;
      height: 20px;
      margin-bottom: 2px;
    }
    .search-bar-input {
      @include remove-border-style();
      font-size: 20px;
      width: 100%;
      height: 30px;
      padding-left: 10px;
      font-family: 'Open Sans', sans-serif;
      border-bottom: 2px solid white;
    }
    .search-bar-btn {
      @include remove-border-style();
      @include btn-preset(10px, 10px, 18px);
      margin-left: 20px;
      border: 2px $shoplifered solid;
      border-radius: 5px;
      color: white;
      background-color: $shoplifered;
      &:hover {
        color: $shoplifered;
        background-color: white;
      }
      &:active {
        color: white;
        background-color: red;
        border-color: red;
      }
    }
  }

  .header-btn-panel {
    display: flex;
    justify-content: space-between;
    .header-btn {
      @include remove-border-style();
      @include btn-preset(0px, 15px, 16px);
      height: $headerHeight;
      background-color: white;
      border-left: lightgrey 1px solid;
      &:hover {
        background-color: $shoplifered;
        color: white;
      }
    }
  }
}

.search-board {
  .search-board-banner {
    background-color: $shoplifered;
    color: white;
    font-size: 36px;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.close-form-btn {
  @include close-btn();
  &:hover {
    background-color: $mildred;
    color: white;
  }
  &:active {
    border-color: $deepred;
    background-color: $deepred;
  }
  &:after {
    @include clear-fix();
  }
}

.session-modal {
  background-color: white;
  width: 420px;
  margin: auto;
  border-radius: 20px;
  margin-top: 80px;
  padding: 15px 15px;

  .session-form {
    padding: 50px 0px;
    width: 80%;
    margin: auto;
    .full-field {
      @include input-full-field();
      margin: 2px 0px;
    }

    .half-field {
      @include input-half-field();
      margin: 8px 0px;
    }

    .full-field:focus {
      @include remove-border-style();
      color: $cyan500;
      border-bottom: 2px $cyan500 solid;
    }

    .half-field:focus {
      @include remove-border-style();
      color: $cyan500;
      border-bottom: 2px $cyan500 solid;
    }

    .full-field-bad {
      @include input-full-field();
      margin: 2px 0px;
      border-color: red;
    }

    .submit-btn {
      @include large-submit-btn;
      &:hover {
        @include cyan-btn;
      }
      &:active {
        @include cyan-btn-alt;
      }
    }

    .form-divider {
      margin-top: 20px;
      margin-bottom: 20px;
      background: silver;
      height: 2px;
      border: none;
    }

    .session-toggle-panel {
      display: flex;
      justify-content: space-around;
      align-items: center;

      p {
        color: black;
      }

      .session-toggle-btn {
        @include block-center();
        @include remove-border-style();
        @include btn-preset(8px, 10px, 16px);
        @include indigo-btn;
        border-radius: 5px;
        background-color: white;
        color: $indigo;
        &:hover {
          @include cyan-btn-alt;
        }
        &:active {
          @include cyan-btn;
        }
      }
    }

    .guess-login-btn {
      @include indigo-btn-alt;
      margin-top: 5px;
      width: 100%;
      &:hover {
        @include cyan-btn-alt;
      }
      &:active {
        @include cyan-btn;
      }
    }
  }
}

.profile-wrapper {
  .profile-detail {
    @include flex-jc(center);
    margin-top: 40px;
    .first-row {
      @include flex-jc(space-between);
      align-items: center;
      width: 66%;
      .profile-name {
        font-size: 40px;
      }
      .profile-right-container {
        display: flex;
        flex-direction: column;
        .profile-picture {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }
        .profile-btn {
          @include btn-preset(5px, 10px, 18px);
          @include remove-border-style();
          @include indigo-btn();
          margin-top: 20px;
          border-radius: 5px;
          &:hover {
            @include cyan-btn;
          }
          &:active {
            @include cyan-btn-alt;
          }
        }
        .profile-btn-alt {
          @include btn-preset(5px, 10px, 18px);
          @include remove-border-style();
          @include indigo-btn-alt();
          margin-top: 20px;
          border-radius: 5px;
          &:hover {
            @include cyan-btn-alt;
          }
          &:active {
            @include cyan-btn;
          }
        }
      }
    }
  }
  .profile-nav {
    @include flex-jc(center);
    margin-top: 40px;
    .navbar-list {
      @include flex-jc(space-around);
      width: 60%;
      flex-wrap: wrap;
      .list-item {
        font-size: 18px;
        .navbar-item-active {
          color: $shoplifered;
        }
        .list-number {
          font-size: 30px;
        }
      }
    }
  }
  .shop-board-wrapper, .trip-board-wrapper {
    @include flex-jc(center);
    margin-top: 80px;
    margin-bottom: 80px;
    .shop-board, .trip-board {
      width: 80%;
      .shop-list, .trip-list {
        @include flex-jc(center);
        flex-wrap: wrap;
      }
    }
  }
}

.product-board-wrapper {
  .product-board {
    margin: 40px auto;
    .product-list {
      @include flex-jc(flex-start);
      flex-wrap: wrap;
      margin: 0px auto;
      height: 100%;
    }
  }
}

.board-card {
  @include block-center();
  // display: inline-block;
  width: 236px;
  height: 100%;
  border: white 10px solid;
  border-radius: 20px;
  transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
  margin: 0px 15px;
  background-color: white;
  // break-inside: avoid;
  .add-shop-btn, .add-trip-btn, .add-product-btn {
    @include remove-border-style();
    border-radius: 8px;
    border: 1px solid lightgrey;
    display: inline-block;
    height: 308px;
    width: 100%;
    background-color: white;
    cursor: pointer;
    .add-shop-content, .add-trip-content, .add-product-content {
      @include block-center();
      height: 150px;
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .add-shop-sign, .add-trip-sign, .add-product-sign {
        @include btn-preset(6px, 14px, 36px);
        padding-top: 0px;
        display: block;
        background-color: $shoplifered;
        border-radius: 50%;
        color: white;
      }
      .add-shop-text, .add-trip-text, .add-product-text {
        margin-top: 20px;
        font-size: 18px;
        color: lightgrey;
      }
    }
  }
  .card-frame {
    @include block-center();
    border-radius: 8px;
    width: 100%;
    cursor: zoom-in;
    .picture-frame {
      @include block-center();
      position: relative;
      width: 236px;
      border-radius: 7px;
      .product-picture {
        border-radius: 7px;
        width: 100%;
        height: auto;
      }
      .product-btn-field {
        visibility: hidden;
        width: 100%;
        bottom: 20px;
        position: absolute;
        .product-btn {
          @include remove-border-style();
          @include block-center();
          @include btn-preset(3px, 60px, 16px);
          @include indigo-btn();
          border-radius: 5px;
          &:hover {
            @include cyan-btn();
          }
          &:active {
            @include cyan-btn-alt();
          }
        }
      }
    }
    .picture-frame-square {
      @include block-center();
      position: relative;
      width: 236px;
      height: 236px;
      overflow-y: hidden;
      border-radius: 7px;
      .shop-picture, .trip-picture {
        border-radius: 7px;
        width: 100%;
        // height: 236px;
      }
      .shop-btn-field, .trip-btn-field {
        visibility: hidden;
        width: 100%;
        bottom: 20px;
        position: absolute;
        .shop-btn, .trip-btn {
          @include remove-border-style();
          @include block-center();
          @include btn-preset(3px, 60px, 16px);
          @include indigo-btn();
          border-radius: 5px;
          &:hover {
            @include cyan-btn();
          }
          &:active {
            @include cyan-btn-alt();
          }
        }
      }
    }
    .shop-detail, .trip-detail, .product-detail {
      @include block-center();
      margin-top: 10px;
      margin-bottom: 40px;
      width: 90%;
      color: darken($lightgrey, 50%);
      .shop-name, .trip-name, .product-name {
        float: left;
        font-size: 16px;
      }
      .product-price {
        float: right;
        font-size: 20px;
      }
    }
    .shop-detail:after, .trip-detail:after, .product-detail:after {
      @include clear-fix();
    }
    &:hover {
      .shop-btn-field, .trip-btn-field, .product-btn-field {
        visibility: visible;
      }
    }
  }
  &:hover {
    border-color: $plaingrey;
  }
}

$modalTypes: add-shop, edit-shop, add-trip, edit-trip;
@each $modalType in $modalTypes {
  .#{$modalType}-modal {
    background-color: white;
    color: black;
    width: 420px;
    padding: 20px;
    border-radius: 20px;
    margin: 40px auto 0px auto;
  }
}

$forms: shop, trip;
@each $form in $forms {
  .#{$form}-form {
    margin: 40px auto 20px auto;
    width: 86%;
    .#{$form}-field {
      @include input-full-field();
    }

    .#{$form}-field:focus {
      @include remove-border-style();
      color: $cyan500;
      border-bottom: 2px $cyan500 solid;
    }

    .#{$form}-textarea {
      max-width: 100%;
      max-height: 80px;
    }

    .#{$form}-btn {
      @include large-submit-btn;
      &:hover {
        @include cyan-btn;
      }
      &:active {
        @include cyan-btn-alt;
      }
    }

    .#{$form}-btn-alt {
      @include large-submit-btn();
      @include indigo-btn-alt();
      &:hover {
        @include cyan-btn-alt();
      }
      &:active {
        @include cyan-btn();
      }
    }
  }
}

.shop-detail-wrapper, .trip-detail-wrapper {
  .shop-detail, .trip-detail {
    @include block-center();
    margin-top: 20px;
    width: 66%;
    .shop-nav {
      display: inline-block;
      margin: -10px 0px 0px -80px;
      padding: 5px 10px;
      border-radius: 10px;
      .follower-list {
        .follower-item {
          display: inline-block;
          margin: 0px 5px;
          position: relative;
          .follower-name {
            display: none;
            position: absolute;
            left: -5px;
            bottom: -20px;
          }
          .follower-img {
            cursor: pointer;
            border: 3px white solid;
            transition: border-color 0.2s ease;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            &:hover {
              border-color: $shoplifered;
            }
            &:hover + .follower-name {
              display: inline-block;
            }
          }
        }
      }
    }
    .trip-nav {
      display: inline-block;
      cursor: pointer;
      margin: -10px 0px 0px -80px;
      padding: 5px 10px;
      border-radius: 10px;
      transition: 0.2s ease;
      .trip-nav-items {
        display: flex;
        align-items: center;
        .owner-img, .user-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .nav-text {
          font-size: 14px;
        }
      }
      &:hover {
        background-color: $silvergrey;
      }
      &:after {
        @include clear-fix();
      }
    }
    .shop-header, .trip-header {
      @include flex-jc(space-between);
      margin-top: 40px;
      .shop-info, .trip-info {
        margin-right: 40px;
      }
      .shop-name, .trip-name {
        font-size: 42px;
      }
      .trip-numbers {
        @include flex-jc(flex-start);
        .follower-count {
          margin: 0px 30px;
        }
        .count-number {
          color: $shoplifered;
          font-size: 26px;
        }
        .count-text {
          color: darken($lightgrey, 22%);
          font-size: 14px;
        }
      }
      .shop-follow-btn, .trip-follow-btn {
        @include remove-border-style();
        @include btn-preset(5px, 30px, 24px);
        @include indigo-btn();
        border-radius: 5px;
        margin-top: 14px;
        &:hover {
          @include cyan-btn();
        }
        &:active {
          @include cyan-btn-alt();
        }
      }
      .shop-follow-btn-alt, .trip-follow-btn-alt {
        @include remove-border-style();
        @include btn-preset(5px, 30px, 24px);
        @include indigo-btn-alt();
        border-radius: 5px;
        margin-top: 14px;
        &:hover {
          @include cyan-btn-alt();
        }
        &:active {
          @include cyan-btn();
        }
      }
      .shop-img-frame, .trip-img-frame {
        .shop-img, .trip-img {
          width: 220px;
          height: 220px;
          border-radius: 50%;
          border: $lightgrey 2px solid;
        }
      }
    }
  }
}

.add-product-modal, .edit-product-modal {
  width: 420px;
  margin: 60px 0px;
  border-radius: 20px;
  display: inline-block;
  background-color: white;
  color: black;
  padding: 20px;

  .product-form {
    margin: 30px auto;
    width: 86%;

    .product-field {
      @include input-full-field();
    }

    .product-field:focus {
      @include remove-border-style();
      color: $cyan500;
      border-bottom: 2px $cyan500 solid;
    }

    .product-textarea {
      max-width: 100%;
      max-height: 80px;
    }

    .product-btn {
      @include large-submit-btn;
      &:hover {
        @include cyan-btn;
      }
      &:active {
        @include cyan-btn-alt;
      }
    }

    .product-btn-alt {
      @include large-submit-btn;
      @include indigo-btn-alt;
      &:hover {
        @include cyan-btn-alt;
      }
      &:active {
        @include cyan-btn;
      }
    }

    .product-price {
      display: flex;
      justify-content: space-between;
      .product-sign {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 8px;
      }
    }
  }
}

.show-product-modal {
  display: inline-block;
  background-color: white;
  color: black;
  margin: 40px 0px;
  border-radius: 20px;
  padding: 15px 15px;

  .show-product {
    @include flex-jc(space-between);
    flex-wrap: wrap;
    margin: 40px auto 0px auto;
    .show-product-table {
      padding: 0px 20px;
      margin: auto;
      .show-product-img {
        @include block-center;
        width: 360px;
        img {
          border-radius: 15px;
          width: 100%;
          height: auto;
        }
      }
      .show-product-info {
        margin-top: 10px;
        @include flex-jc(space-between);
        .show-product-name {
          margin-right: 10px;
          font-size: 22px;
        }
        .show-product-price {
          font-size: 30px;
        }
      }
      .show-product-description {
        margin-top: 10px;
        margin-bottom: 40px;
        width: 360px;
      }
      .show-product-btn {
        @include remove-border-style();
        @include indigo-btn();
        @include btn-preset(10px, 30px, 24px);
        @include block-center();
        margin-bottom: 20px;
        border-radius: 5px;
      }
      .show-product-btn:hover {
        @include cyan-btn();
      }
      .show-product-btn:active {
        @include cyan-btn-alt();
      }

      .visit-shop {
        width: 100%;
        height: 80px;
        @include flex-jc(space-between);
        align-items: center;
        margin-bottom: 40px;
        .visit-shop-header {
          @include flex-jc(space-between);
          align-items: center;
          .visit-shop-img-frame {
            width: 60px;
            height: 60px;
            border: 1px $lightgrey solid;
            border-radius: 50%;
            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
            }
          }
          .visit-shop-name {
            font-size: 16px;
            margin-left: 20px;
          }
        }
        .visit-shop-btn {
          @include remove-border-style;
          @include btn-preset(5px, 10px, 16px);
          @include indigo-btn-alt;
          height: 40px;
          border-radius: 5px;
          &:hover {
            @include cyan-btn-alt;
          }
          &:active {
            @include cyan-btn;
          }
        }
      }
    }
    .pin-table {
      width: 400px;
      margin-left: 20px;
      border-left: 1px solid $plaingrey;
      .pin-header {
        font-size: 24px;
        padding-left: 10px;
        padding-bottom: 5px;
        margin-left: 5px;
        border-bottom: 1px solid $plaingrey;
      }
      .pin-list-wrapper {
        overflow-y: auto;
        max-height: 400px;
        .pin-list {
          .pin-item {
            transition: 0.3s ease;
            &:hover {
              background-color: $plaingrey;
            }
            @include flex-jc(space-between);
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            cursor: pointer;
            .item-img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-left: 8px;
            }
            .item-name {
              font-size: 16px;
            }
            .item-btn {
              @include remove-border-style();
              @include btn-preset(2px, 6px, 16px);
              @include indigo-btn();
              border-radius: 5px;
              margin-right: 8px;
            }
            .item-btn-alt {
              @include remove-border-style();
              @include btn-preset(2px, 6px, 16px);
              @include indigo-btn-alt();
              border-radius: 5px;
              margin-right: 8px;
            }
          }
        }
        .pin-create-form {
          width: 80%;
          margin: 0px auto;
          .pin-trip-label {
            margin-right: 8px;
          }
          .pin-trip-input {
            @include input-full-field;
          }
          .pin-date-input {
            @include input-full-field;
          }
        }
      }
      .pin-create-trip {
        @include flex-jc(center);
        padding: 8px 0px;
        cursor: pointer;
        &:hover {
          background-color: $plaingrey
        }
        align-items: center;
        .add-trip-symbol {
          border-radius: 50%;
          font-size: 24px;
          padding: 0px 9.1px;
          color: white;
          background-color: red;
          margin-right: 30px;
        }
        .add-trip-text {
          font-size: 16px;
        }
      }
      .pin-create-trip-alt {
        @include flex-jc(center);
        padding: 8px 0px;
        .add-trip-cancel {
          @include remove-border-style();
          @include btn-preset(4px, 8px, 20px);
          @include indigo-btn-alt();
          border-radius: 5px;
          margin-right: 30px;
          &:hover {
            @include cyan-btn-alt;
          }
          &:active {
            @include cyan-btn;
          }
        }
        .add-trip-create {
          @include remove-border-style();
          @include btn-preset(4px, 8px, 20px);
          @include indigo-btn();
          border-radius: 5px;
          margin-left: 30px;
          &:hover {
            @include cyan-btn;
          }
          &:active {
            @include cyan-btn-alt;
          }
        }
      }
    }
  }
}

.follower-board-wrapper, .followee-board-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  .follower-board, .followee-board {
    @include block-center();
    width: 80%;
    .follower-list, .followee-list {
      @include flex-jc(space-around);
      .follower-item, .followee-item {
        text-align: center;
        border-radius: 5px;
        border: 3px white solid;
        padding: 10px 20px;
        cursor: pointer;
        .follower-img, .followee-img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .follower-name, .followee-name {
          margin-top: 10px;
          font-size: 20px;
        }
      }
      .follower-item:hover, .followee-item:hover {
        border: 3px lightgrey solid;
      }
    }
  }
}

.following-panel {
  margin-top: 40px;
  margin-bottom: 40px;
  .following-bar-wrapper {
    user-select: none;
    .following-navbar {
      @include flex-jc(center);
      .navbar-list {
        @include flex-jc(space-between);
        padding: 0;
        background-color: $plaingrey;
        padding: 3px 5px;
        border-radius: 5px;
        .navbar-item {
          padding: 5px 30px;
          margin: 2px;
          border-radius: 5px;
          font-size: 22px;
          color: grey;
          cursor: pointer;
        }
        .navbar-item:hover {
          background-color: $lightgrey;
        }
        .navbar-item-active {
          background-color: white;
          color: $black;
        }
      }
    }
  }
}

.product-board {
  @include block-center();
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
}

.test-frame {
}

.modal-overlay {
  z-index: 5;
  color: blue;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  text-align: center;
  * {
    text-align: left;
  }
}

.load-products-frame {
  display: flex;
  justify-content: center;
  position: relative;
  visibility: hidden;
  img {
    display: block;
    position: absolute;
    bottom: 20px;
  }
}

.loading-sign-img {
  display: block;
  margin: auto;
}

.empty-product-list {
  text-align: center;
  font-size: 36px;
  img {
    display: inline-block;
    width: 40%;
    height: auto;
  }
}

.warning-text {
  font-size: 14px;
  color: red;
  visibility: hidden;
}

.side-bar {
  position: fixed;
  bottom: 0;
  right: 20px;
  .side-bar-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .side-bar-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      margin-left: 5px;
      &:hover {
        background-color: $shoplifered;
      }
    }
  }
}
