@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$springgreen: #00FA9A;
$shoplifered: #DD2C00;
$mildred: #EF5350;
$deepred: #B71C1C;
$cyan500: #00BCD4;
$lightindigo: #536DFE;
$indigo: #304FFE;
$googlegreen: #00E676;
$lightgreen: #76FF03;
$darkgreen: #00695C;
$plaingrey: #E7E7E8;
$lightgrey: #C9C9CA;
$black: #404040;

$headerHeight: 55px;

@mixin inline-block-center() {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

@mixin block-center() {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@mixin flex-jc($jc) {
  display: flex;
  justify-content: $jc;
}

@mixin remove-border-style() {
  border: none;
  outline: none;
}

@mixin form-inputs() {
  @include inline-block-center();
  @include remove-border-style();
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

@mixin btn-preset($v, $h, $fontSize) {
  padding-top: $v;
  padding-bottom: $v;
  padding-left: $h;
  padding-right: $h;
  font-size: $fontSize;
  cursor: pointer;
}

@mixin btn-style($textColor, $bgColor, $borderColor, $borderWidth) {
  color: $textColor;
  background-color: $bgColor;
  border: $borderColor $borderWidth solid;
}

@mixin indigo-btn() {
  @include btn-style(white, $indigo, $indigo, 2px);
}

@mixin indigo-btn-alt() {
  @include btn-style($indigo, white, $indigo, 2px);
}

@mixin cyan-btn() {
  @include btn-style(white, $cyan500, $cyan500, 2px);
}

@mixin cyan-btn-alt() {
  @include btn-style($cyan500, white, $cyan500, 2px);
}

@mixin close-btn() {
  @include btn-preset(5px, 10px, 18px);
  border: $mildred 2px solid;
  background-color: white;
  color: $mildred;
  border-radius: 50%;
  float: right;
  margin-top: -40px;
  margin-right: -38px;
  cursor: pointer;
}

@mixin large-submit-btn() {
  @include btn-preset(10px, 15px, 18px);
  @include remove-border-style();
  @include indigo-btn;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
}

@mixin input-full-field {
  @include form-inputs();
  width: 100%;
  border-bottom: 2px $indigo solid;
}

@mixin input-half-field {
  @include form-inputs();
  width: 50%;
  border-bottom: 2px $indigo solid;
}

@mixin clear-fix {
  content: "";
  display: block;
  clear: both;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: $googlegreen;
}

a:hover {
  color: $lightgreen;
}

a:active {
  color: $darkgreen;
}

button {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

header {
  background-color: white;
  height: $headerHeight;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .header-logo-wrapper {
    border-right: 1px lightgrey solid;
    height: $headerHeight;
    display: flex;
    align-items: center;
    width: 140px;
    .header-logo {
      color: $shoplifered;
      font-size: 32px;
      margin-left: 20px;
      font-family: 'Pinyon Script', cursive;
    }
  }

  .header-logo-wrapper:hover, .header-logo-wrapper:hover .header-logo {
    background-color: $shoplifered;
    color: white;
  }

  .search-bar {
    width: 60%;
    height: $headerHeight;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    .search-bar-input {
      @include remove-border-style();
      font-size: 20px;
      width: 100%;
      height: 30px;
      padding-left: 20px;
      font-family: 'Open Sans', sans-serif;
      border-bottom: 2px solid white;
    }
    .search-bar-input:hover {
      box-sizing: border-box;
      border-bottom: 2px solid $shoplifered;
    }
  }

  .header-btn-panel {
    display: flex;
    justify-content: space-between;
    .header-btn {
      @include remove-border-style();
      @include btn-preset(0px, 15px, 16px);
      height: $headerHeight;
      background-color: white;
      border-left: lightgrey 1px solid;
    }

    .header-btn:hover {
      background-color: $shoplifered;
      color: white;
    }
  }
}

input:focus {
  outline: none;
}

.close-form-btn {
  @include close-btn();
}

.close-form-btn:hover {
  background-color: $mildred;
  color: white;
}

.close-form-btn:active {
  border-color: $deepred;
  background-color: $deepred;
}

.close-form-btn:focus {
  outline: none;
}

.session-form {

  .full-field {
    @include input-full-field();
  }

  .half-field {
    @include input-half-field();
  }

  .full-field:focus {
    @include remove-border-style();
    color: $cyan500;
    border-bottom: 2px $cyan500 solid;
  }

  .half-field:focus {
    @include remove-border-style();
    color: $cyan500;
    border-bottom: 2px $cyan500 solid;
  }

  .submit-btn {
    @include large-submit-btn;
  }

  .submit-btn:hover {
    @include cyan-btn;
  }

  .submit-btn:active {
    @include cyan-btn-alt;
  }

  .form-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    background: silver;
    height: 2px;
    border: none;
  }

  .session-toggle-panel {
    display: flex;
    justify-content: space-around;

    .session-toggle-btn {
      @include block-center();
      @include remove-border-style();
      @include btn-preset(8px, 10px, 16px);
      @include indigo-btn;
      border-radius: 5px;
      background-color: white;
      color: $indigo;
    }

    .session-toggle-btn:hover {
      @include cyan-btn;
    }

    .session-toggle-btn:active {
      @include cyan-btn-alt;
    }
  }

  .guess-login-btn {
    @include indigo-btn-alt;
    margin-top: 5px;
    width: 100%;
  }

  .guess-login-btn:hover {
    @include cyan-btn-alt;
  }

  .guess-login-btn:active {
    @include cyan-btn;
  }
}

.profile-wrapper {
  .profile-detail {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    .first-row {
      width: 66%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .profile-name {
        font-size: 40px;
      }
      .profile-right-container {
        display: flex;
        flex-direction: column;
        .profile-picture {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }
        .profile-btn {
          @include btn-preset(5px, 10px, 18px);
          @include remove-border-style();
          @include indigo-btn();
          margin-top: 20px;
          border-radius: 5px;
        }
        .profile-btn:hover {
          @include cyan-btn();
        }
        .profile-btn:active {
          @include cyan-btn-alt();
        }
        .profile-btn-alt {
          @include btn-preset(5px, 10px, 18px);
          @include remove-border-style();
          @include indigo-btn-alt();
          margin-top: 20px;
          border-radius: 5px;
        }
        .profile-btn-alt:hover {
          @include cyan-btn-alt();
        }
        .profile-btn-alt:active {
          @include cyan-btn();
        }
      }
    }
  }
  .profile-nav {
    @include flex-jc(center);
    margin-top: 40px;
    .navbar-list {
      @include flex-jc(space-around);
      width: 60%;
      flex-wrap: wrap;
      .list-item {
        font-size: 18px;
        .list-number {
          font-size: 30px;
        }
      }
    }
  }
  .shop-board-wrapper, .trip-board-wrapper {
    @include flex-jc(center);
    margin-top: 80px;
    margin-bottom: 80px;
    .shop-board, .trip-board {
      @include flex-jc(space-around);
      flex-wrap: wrap;
      width: 80%;
    }
  }
}

.shop-list, .trip-list, .product-list {
  @include flex-jc(space-around);
  flex-wrap: wrap;
}

.board-card {
  @include block-center();
  height: 324px;
  width: 236px;
  border: white 10px solid;
  border-radius: 20px;
  margin: 15px 20px;
  .add-shop-btn, .add-trip-btn, .add-product-btn {
    @include remove-border-style();
    border-radius: 8px;
    border: 1px solid lightgrey;
    display: block;
    height: 100%;
    width: 100%;
    background-color: white;
    cursor: pointer;
    .add-shop-content, .add-trip-content, .add-product-content {
      @include block-center();
      height: 150px;
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .add-shop-sign, .add-trip-sign, .add-product-sign {
        @include btn-preset(6px, 14px, 36px);
        padding-top: 0px;
        display: block;
        background-color: $shoplifered;
        border-radius: 50%;
        color: white;
      }
      .add-shop-text, .add-trip-text, .add-product-text {
        margin-top: 20px;
        font-size: 18px;
        color: lightgrey;
      }
    }
  }
  .card-frame {
    @include block-center();
    border-radius: 8px;
    height: 100%;
    width: 100%;
    cursor: zoom-in;
    position: relative;
    .picture-frame {
      @include block-center();
      width: 236px;
      height: 236px;
      border-radius: 7px;
      .shop-picture, .trip-picture, .product-picture {
        border-radius: 7px;
        width: 100%;
        height: 100%;
      }
    }
    .shop-detail, .trip-detail, .product-detail {
      @include block-center();
      margin-top: 10px;
      width: 90%;
      font-size: 20px;
      .shop-name, .trip-name, .product-name {
        float: left;
      }
      .product-price {
        float: right;
      }
    }
    .shop-detail:after, .trip-detail:after, .product-detail:after {
      @include clear-fix();
    }
    .shop-btn-field, .trip-btn-field, .product-btn-field {
      visibility: hidden;
      width: 100%;
      top: 200px;
      position: absolute;
      .shop-btn, .trip-btn, .product-btn {
        @include remove-border-style();
        @include block-center();
        @include btn-preset(3px, 70px, 16px);
        @include indigo-btn();
        border-radius: 5px;
      }
    }
    .shop-btn:hover, .trip-btn:hover, .product-btn:hover {
      @include cyan-btn();
    }
    .shop-btn:active, .trip-btn:active, .product-btn:active {
      @include cyan-btn-alt();
    }
  }
  .card-frame:hover {
    .shop-btn-field, .trip-btn-field, .product-btn-field {
      visibility: visible;
    }
  }
}

.board-card:hover {
  border-color: lightgrey;
}

.shop-form, .trip-form {
  margin-top: 10px;

  .shop-field, .trip-field {
    @include input-full-field();
  }

  .shop-field:focus, .trip-field:focus {
    @include remove-border-style();
    color: $cyan500;
    border-bottom: 2px $cyan500 solid;
  }

  .shop-textarea, .trip-textarea {
    max-width: 100%;
    max-height: 80px;
  }

  .shop-btn, .trip-btn {
    @include large-submit-btn;
  }

  .shop-btn:hover, .trip-btn:hover {
    @include cyan-btn;
  }

  .shop-btn:active, .trip-btn:active {
    @include cyan-btn-alt;
  }

  .shop-btn-alt, .trip-btn-alt {
    @include large-submit-btn();
    @include indigo-btn-alt();
  }

  .shop-btn-alt:hover, .trip-btn-alt:hover {
    @include cyan-btn-alt();
  }

  .shop-btn-alt:active, .trip-btn-alt:active {
    @include cyan-btn();
  }
}

.shop-detail-wrapper, .trip-detail-wrapper {
  .shop-detail, .trip-detail {
    @include block-center();
    margin-top: 20px;
    width: 60%;
    // .shop-options {
    //   display: inline-block;
    //   width: 100%;
    //   .option-item {
    //     float: left;
    //     .option-btn {
    //       @include remove-border-style();
    //       @include indigo-btn-alt();
    //       @include btn-preset(5px, 10px, 16px);
    //       border-radius: 3px;
    //       width: 80px;
    //       margin-left: 10px;
    //       margin-right: 10px;
    //     }
    //   }
    // }
    .shop-nav, .trip-nav {
      .owner-img, .user-img, .share-img {
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 20px;
      }
      .owner-img:hover, .user-img:hover {
        content: url(http://www.abitofgreen.com/wp-content/themes/abitofgreen/images/blank-user.gif);
      }
    }
    .shop-nav:after, .trip-nav:after {
      @include clear-fix();
    }
    .shop-header, .trip-header {
      @include flex-jc(space-between);
      margin-top: 20px;
      .shop-name, .trip-name {
        font-size: 42px;
        margin-top: 20px;
      }
      // .detail-owner {
      //   .detail-owner-img {
      //     width: 80px;
      //     height: 80px;
      //     border-radius: 50%;
      //     cursor: pointer;
      //   }
      // }
      .shop-img-frame, .trip-img-frame {
        .shop-img, .trip-img {
          width: 220px;
          height: 220px;
          border-radius: 50%;
          border: $lightgrey 2px solid;
        }
      }
    }
  }

  .product-board-wrapper {
    @include flex-jc(center);
    margin-top: 80px;
    margin-bottom: 80px;
    .product-board {
      @include flex-jc(space-around);
      flex-wrap: wrap;
      width: 80%;
    }
  }
}

.product-form {
  margin-top: 10px;

  .product-field {
    @include input-full-field();
  }

  .product-field:focus {
    @include remove-border-style();
    color: $cyan500;
    border-bottom: 2px $cyan500 solid;
  }

  .product-textarea {
    max-width: 100%;
    max-height: 80px;
  }

  .product-btn {
    @include large-submit-btn;
  }

  .product-btn:hover {
    @include cyan-btn;
  }

  .product-btn:active {
    @include cyan-btn-alt;
  }

  .product-btn-alt {
    @include large-submit-btn;
    @include indigo-btn-alt;
  }

  .product-btn-alt:hover {
    @include cyan-btn-alt;
  }

  .product-btn-alt:active {
    @include cyan-btn;
  }

  .product-price {
    display: flex;
    justify-content: space-between;
    .product-sign {
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-right: 8px;
    }
  }
}

.show-product {
  @include flex-jc(space-between);

  .show-product-table {
    margin-top: 10px;
    width: 100%;
    .show-product-img {
      width: 100%;
      margin-top: -20px;
      img {
        border-radius: 15px;
        width: 100%;
      }
    }
    .show-product-info {
      margin-top: 10px;
      @include flex-jc(space-between);
      .show-product-name {
        margin-right: 10px;
        font-size: 22px;
      }
      .show-product-price {
        font-size: 30px;
      }
    }
    .show-product-description {
      margin-top: 10px;
    }
    .show-product-btn {
      @include remove-border-style();
      @include indigo-btn();
      @include btn-preset(10px, 30px, 24px);
      @include block-center();
      margin-top: 40px;
      border-radius: 5px;
    }
    .show-product-btn:hover {
      @include cyan-btn();
    }
    .show-product-btn:active {
      @include cyan-btn-alt();
    }
  }
  .pin-table {
    width: 80%;
    margin-left: 20px;
    border-left: 1px solid $plaingrey;
    .pin-header {
      font-size: 20px;
      padding-left: 10px;
      padding-bottom: 5px;
      margin-left: 5px;
      border-bottom: 1px solid $plaingrey;
    }
    .pin-list-wrapper {
      .pin-list {
        .pin-item {
          @include flex-jc(space-between);
          align-items: center;
          margin-top: 5px;
          margin-bottom: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
          cursor: pointer;
          .item-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 8px;
          }
          .item-name {
            font-size: 16px;
          }
          .item-btn {
            @include remove-border-style();
            @include btn-preset(2px, 6px, 16px);
            @include indigo-btn();
            border-radius: 5px;
            margin-right: 8px;
          }
          .item-btn-alt {
            @include remove-border-style();
            @include btn-preset(2px, 6px, 16px);
            @include indigo-btn-alt();
            border-radius: 5px;
            margin-right: 8px;
          }
        }
        .pin-item:hover {
          background-color: $plaingrey;
        }
      }
    }
  }
}

.follower-board-wrapper, .followee-board-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  .follower-board, .followee-board {
    @include block-center();
    width: 80%;
    .follower-list, .followee-list {
      @include flex-jc(space-around);
      .follower-item, .followee-item {
        text-align: center;
        border-radius: 5px;
        border: 3px white solid;
        padding: 10px 20px;
        cursor: pointer;
        .follower-img, .followee-img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .follower-name, .followee-name {
          margin-top: 10px;
          font-size: 20px;
        }
      }
      .follower-item:hover, .followee-item:hover {
        border: 3px lightgrey solid;
      }
    }
  }
}

.following-panel {
  margin-top: 40px;
  margin-bottom: 40px;
  .following-bar-wrapper {
    user-select: none;
    .following-navbar {
      @include flex-jc(center);
      .navbar-list {
        @include flex-jc(space-between);
        padding: 0;
        background-color: $plaingrey;
        padding: 3px 5px;
        border-radius: 5px;
        .navbar-item {
          padding: 5px 30px;
          margin: 2px;
          border-radius: 5px;
          font-size: 22px;
          color: grey;
          cursor: pointer;
        }
        .navbar-item:hover {
          background-color: $lightgrey;
        }
        .navbar-item-active {
          background-color: white;
          color: $black;
        }
      }
    }
  }
}

.product-board {
  @include block-center();
  margin-top: 80px;
  margin-bottom: 80px;
  width: 80%;
}
